*{
    font-family: "Roboto";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-weight: 400;
}
html{
   width: 100%;
   max-width: 100%;
   margin: 0;
   padding: 0;
}
.body.lock{
    overflow: hidden;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header__left{
    display: flex;
    justify-content: space-between;
}
.header__left img{
    margin: 15px 114px 0 11px;
}
.header__left ul{
    display: flex;
}
.header__left ul li{
    margin: 22px 0 0 23px;
    list-style: none;
}
.header__left ul li a{
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
}
.header__left ul li :hover{
    color: #FF4A32;
}
.header__right img{
    cursor: pointer;
}
.header__right__second{
    margin: 24px 20px 0 10px;
}
.burger{
    display: none;
    cursor: pointer;
}
.mobile__menu{
    position: fixed;
    background: #FFFFFF;
    z-index: 3;
    right: -100%;
    width: 30%;
    height: 100%;
    transition: all 0.425s ease 0s;
}
.mobile__menu.active{
    right: 0%;
}
.mobile__menu ul{
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    text-align: center;
}
.mobile__menu ul li{
    margin-bottom: 20px;
}
.mobile__menu ul li :hover{
    color: #FF4A32;
}
.mobile__menu ul li a{
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
}
.mobile__background{
    display: none;
}
.mobile__background.active{
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    background: #00000083;
    z-index: 2;
}
.welcom{
    display: flex;
    justify-content: center;
    height: 1000px;
    background: url(../img/background.svg) 59%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 24px;
}
.welcom__center{
    text-align: center;
    margin-top: 53px;
}
.welcom__center p{
    margin-bottom: 22px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 1px;
    color: #000000;
}
.welcom__center p span{
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 51px;
    color: #000000;
}
.welcom__center__left{
    margin-right: 12px;
    background: #FF4A32;
    border-radius: 35px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    padding: 5px 47px;
    border: none;
    cursor: pointer;
    transition-duration: 0.29s;
}
.welcom__center span :hover{
    background: #ffffff00;
    color: #FF4A32;
    box-shadow: inset 0 0 0 2px #FF4A32
}
.welcom__center__right{
    background: #FF4A32;
    border-radius: 35px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    padding: 5px 37px;
    border: none;
    cursor: pointer;
    transition-duration: 0.29s;
}
.company{
    height: 83px;
    background-color: #000000;
}
.company__img{
    display: flex;
    justify-content: space-around;
    padding-top: 18px;
}
.choice{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 52px 0 20px;
}
.choice__text hr{
    margin: 0 auto 45px auto;
}
.choice__text h2{
    margin-bottom: 17px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    color: #000000;
}
.choice__text p{
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #000000;
}
.choice__text hr{
    width: 70px;
    height: 2px;
    color: #CFCFCF;
}
.choice__image{
    display: flex;
}
.choice__image__first{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../img/boards.svg) center;
    width: 580px;
    height: 580px;
    margin-right: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
}
.choice__image__first :last-child{
    font-size: 18px;
    line-height: 23px;
}
.choice__image__second{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../img/revs.svg) center;
    width: 580px;
    height: 580px;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
}
.choice__image__second :last-child{
    font-size: 18px;
    line-height: 23px;
}
.skateboards{
    background: url(../img/background__skateboard.svg) left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}
.first__p {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 1px;
    color: #000000;
    margin: 44px 0 11px;
}
.skateboards__txt{
    position: absolute;
}
.skateboards__txt h2{
    font-weight: 700;
    font-size: 45px;
    line-height: 51px;
    color: #000000;
    margin-bottom: 15px;
}
.skateboards__txt :nth-child(3){
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 1px;
    color: #000000;
    margin-bottom: 20px;
}
.skateboards__txt button{
    background-color: #FF4A32;
    border-radius: 35px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #ffffff;
    padding: 5px 66px;
    border: none;
    cursor: pointer;
    transition-duration: 0.29s;
}
.skateboards__txt span :hover{
    background: #ffffff00;
    color: #FF4A32;
    box-shadow: inset 0 0 0 2px #FF4A32
}
.all{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    right: -110%;
}
.all.show{
    right: 0%;
}
.buy__background{
    background: #00000065;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 339px;
    background: #FFFFFF;
    height: 550px;
}
.form div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buy__img{
    margin-left: auto;
    width: 17px;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.buy__img2{
    margin-left: auto;
    margin-top: -80px;
    margin-right: 10px;
    cursor: pointer;
}
.buy__img3{
    margin-left: auto;
    margin-top: -80px;
    margin-right: 10px;
    cursor: pointer;
}
.buy__img4{
    margin-left: auto;
    margin-top: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.name{
    margin: 10px 0 10px;
}
.name p{
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
}
.name input{
    border: 1px solid #000000;
}
.name input.error{
    border: 2px solid #ff0000;
}
.surname{
    margin: 10px 0 10px;
}
.surname p{
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
}
.surname input.error{
    border: 2px solid #ff0000;
}
.tel{
    margin: 10px 0 10px;
}
.tel p{
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
}
.tel input.error{
    border: 2px solid #ff0000;
}
.email{
    margin: 10px 0 10px;
}
.email p{
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
}
.email input.error{
    border: 2px solid #ff0000;
}
.address{
    margin: 10px 0 10px;
}
.address p{
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
}
.address input.error{
    border: 2px solid #ff0000;
}
.product{
    margin: 10px 0 10px;
}
.product p{
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
}
.product__input{
    margin: 10px 0 10px;
    display: flex;
    justify-content: center;
}
.product__input p{
    display: block;
    padding-top: 1px;
    margin: 0 10px 0 3px;
    font-weight: 400;
    font-size: 10px;
    line-height: 22px;
    color: rgb(0, 0, 0);
}
.reset button{
    margin-top: 10px;
    background-color: #FF4A32;
    border-radius: 35px;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    padding: 5px 36px;
    border: none;
    cursor: pointer;
}
.next{
    position: absolute;
    margin-top: 500px;
    background-color: #FF4A32;
    border-radius: 35px;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    padding: 5px 36px;
    border: none;
    cursor: pointer;
    z-index: 1;
}
.next__notactivated{
    display: block;
    position: absolute;
    margin-top: 500px;
    background-color: #696969;
    border-radius: 35px;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    padding: 5px 36px;
    border: none;
    cursor: pointer;
    z-index: 2;
}
.all__catalog{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}
.catalog__skateboards{
    display: none;
    width: 400px;
    height: 40vh;
    background: #FFFFFF;
}
.catalog__skateboards.show{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    z-index: 10;
}
.catalog__skateboards h2{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
}
.catalog__skateboards__button{
    margin-top: 200px;
    background-color: #FF4A32;
    border-radius: 35px;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    padding: 5px 36px;
    border: none;
    cursor: pointer;
}
.catalog__revs{
    display: none;
    width: 400px;
    height: 40vh;
    background: #FFFFFF;
}
.catalog__revs.show{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    z-index: 10;
}
.catalog__revs h2{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
}
.catalog__revs__button{
    margin-top: 200px;
    background-color: #FF4A32;
    border-radius: 35px;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    padding: 5px 36px;
    border: none;
    cursor: pointer;
}
.finish{
    display: none;
    width: 200px;
    height: 15vh;
    background: #ffffff;
}
.finish.show{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.finish h2{
    margin-top: 30px;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    text-transform: uppercase;
    color: #000000;
}
.rev{
    display: flex;
    justify-content: center;
    margin-top: 44px;
}
.rev__foto{
    margin-right: 40px;
}
.rev__foto :first-child{
    margin-right: 20px;
}
.rev__txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
.rev__txt h3{
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
}
.rev__txt p{
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
    margin: 21px 0 18px;
}
.rev__txt button{
    width: 101px;
    background-color: #FF4A32;
    border-radius: 35px;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    padding: 5px 16px;
    border: none;
    cursor: pointer;
    transition-duration: 0.29s;
}
.rev__txt span :hover{
    background: #ffffff00;
    color: #FF4A32;
    box-shadow: inset 0 0 0 2px #FF4A32
}
.shop  {
    display: flex;
    margin-top: 45px;
}
.shop__one{
    width: 100%;
    background: url(../img/stealth.svg) center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.shop__one :first-child{
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
}
.shop__one :last-child{
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
}
.shop__two{
    width: 100%;
    background: url(../img/plus.svg) center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.shop__two :first-child{
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
}
.shop__two :last-child{
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
}
.shop__three{
    width: 100%;
    background: url(../img/mini.svg) center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.shop__three :first-child{
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
}
.shop__three :last-child{
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
}
.vidio{
    display: flex;
    justify-content: center;
    margin-top: 55px;
}
.vidio :first-child{
    margin-right: 20px;
}
.accessories{
    display: block;
    margin-top: 70px;
    overflow: hidden;
}
.accessories__txt{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.accessories__txt h2{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: #000000;
}
.accessories__slider{
    width: 100%;
    display: inline-flex;
    position: relative;
    justify-content: space-between;
    text-align: center;
    transition-duration: 0.45s;
}
.accessories__slider p{
    margin-top: 12px;
}
.accessories__slider__arrow__first{
    display: flex;
    position: absolute;
    left: 0.5%;
    margin-top: 70px;
    z-index: 4;
    align-items: center;
}
.accessories__slider__arrow__second{
    display: flex;
    align-items: center;
    position: absolute;
    right: 0.5%;
    margin-top: -170px;
    z-index: 5;
    transform: rotate(180deg);
}
.accessories__slider__arrow__first :hover{
    opacity: 0.5;
}
.accessories__slider__arrow__second :hover{
    opacity: 0.5;
}
.accessories__sliders p{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #FF4A32;
}
.accessories__sliders span{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #373737;
}
.accessories__sliders{
    margin-right: 21.px;
}
.about{
    display: flex;
    justify-content: space-around;
    background:#000000;
    height: 308px;
    margin-top: 103px;
}
.about__element{
    margin-top: 35px;
}
.about__element img{
    display: block;
    margin: 0 auto;
}
.about__element h3{
    text-align: center;
    font-weight: 700;
    font-size: 31px;
    line-height: 36px;
    color: #FFFFFF;
    margin-bottom: 25px;
}
.about__element p{
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #FFFFFF;
}
.footer{
    display: block;
    margin-top: 50px;
}
.footer__up{
    display: flex;
    justify-content: space-around;
}
.footer__up__center h3{
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}
.footer__up__center ul{
    list-style: none;
}
.footer__up__center ul a :hover{
    color: #FF4A32;
}
.footer__up__center a{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}
.footer__up__right h3{
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;
    color: #000000;
}
.footer__up__right :nth-child(2){
    margin: 12px 0 19px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}
.footer__up__right :last-child{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}
.footer__bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.footer__bottom__left{
    margin-left: 130px;
}
.footer__bottom__left p{
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}
.footer__bottom__left a{
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FF4A32;
}
.footer__bottom__right{
    margin-right: 130px;
    cursor: pointer;
}
@media screen and (max-width: 1876px){
    .accessories__sliders{
        margin-right: 43.2px;
    }
}
@media screen and (max-width: 1810px){
    .accessories__sliders{
        margin-right: 73.3px;
    }
}
@media screen and (max-width: 1720px){
    .accessories__sliders{
        margin-right: 99.4px;
    }
}
@media screen and (max-width: 1609px){
    .accessories__sliders{
        margin-right: 133.5px;
    }
}
@media screen and (max-width: 1437px){
    .accessories__sliders{
        margin-right: 165.6px;
    }
}
@media screen and (max-width: 1219px){
    .accessories__sliders{
        margin-right: 215.7px;
    }
}
@media screen and (max-width: 1180px) {
    .choice__image{
        display: block;
        align-items: center;
    }
    .choice__image__first{
        margin: 0 0 20px;
    }
}
@media screen and (max-width: 1140px) {
    .header__left img{
        margin-right: 0px;
    }
    .rev{
        display: block;
        justify-content: center;
        margin-top: 44px;
    }
    .rev__foto{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .rev__foto img{
        width: 380px;
    }
    .rev__foto :first-child{
        margin: 0 0 20px;
    }
    .rev__txt{
        align-items: center;
        margin-top: 40px;
        text-align: center;
    }
    .shop{
        display: block;
    }
    .about{
        display: block;
        height: 100%;
    }
    .about :last-child{
        padding-bottom: 20px;
    }
}
@media screen and (max-width: 1120px) {
    .company__img{
        display: block;
    }
    .company{
        height: 100%;
    }
    .company__img :last-child{
        padding-bottom: 18px;
    }
    .company__img :first-child{
        margin-top: 0;
    }
    .company__img img{
        display: block;
        margin: 40px auto 0 auto;
    }
}
@media screen and (max-width: 1019px) {
    .footer__bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__bottom__left {
        margin: 0;
    }
    .footer__bottom__right{
        margin: 20px 0 0 0;
    }
}
@media screen and (max-width: 1000px) {
    .header__left ul{
        display: none;
    }
    .header__right{
        display: none;
    }
    .burger{
        display: flex;
        height: 20px;
        margin: 20px 20px;
    }
    .vidio{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .vidio :first-child{
        margin-right: 0;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 981px){
    .accessories__sliders{
        margin-right: 299.8px;
    }
}
@media screen and (max-width: 833px) {
    .footer__up{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer__up__center{
        text-align: center;
    }
    .footer__up__right{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 40px;
    }
}
@media screen and (max-width: 667px){
    .accessories__sliders{
        margin-right: 490.9px;
    }
}
@media screen and (max-width: 649px) {
}
@media screen and (max-width: 610px) {
    .choice__image__first{
        width: 380px;
        height: 380px;
    }
    .choice__image__second{
        width: 380px;
        height: 380px;
    }
    .vidio iframe{
        width: 350px;
        height: 204px;
    }
}
@media screen and (max-width: 414px){
    .welcom__center button{
        display: block;
        margin: 0 auto 0 auto;
    }
    .welcom__center :last-child{
        margin-top: 10px;
    } 
}
@media screen and (max-width: 380px) {
    .choice__image__first{
        width: 250px;
        height: 250px;
    }
    .choice__image__second{
        width: 250px;
        height: 250px;
    }
    .choice__text p{
        font-size: 12px;
    }
    .rev__foto img{
        width: 250px;
    }
    .rev__txt p{
        font-size: 12px;
    }
    .vidio iframe{
        width: 250px;
        height: 204px;
    }
    .mobile__menu ul li a{
        font-size: 10px;
    }
}